.popup__container {
    max-width: 430px;
    max-height: 330px;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 450px) {
    .popup__container {
        padding: 25px 22px;
        margin: 0 19px 0;
    }
}