.profile__add-button {
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 2px;
    background: url(../../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: 60%;
}

@media screen and (max-width: 650px) {
    .profile__add-button {
        margin: 0;
        width: 282px;
        background-size: 16px;
    }
}