.elements {
    list-style: none;
    margin: 46px 0 66px;
    padding: 0;
    max-width: 880px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 400px) {
    .elements {
        margin: 36px 0 48px;
    }
}